[submodule "frontend"]
	path = frontend
	url = https://github.com/Pratham82/portfolio-v5.git
	branch = master
[submodule "backend"]
	path = backend
	url = https://github.com/Pratham82/portfolio-api.git
	branch = master
